<%= form_with(model: tick, local: true) do |form| %>
  <% if tick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tick.errors.count, "error") %> prohibited this tick from being saved:</h2>

      <ul>
      <% tick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :cliente_id %>
        <%= form.text_field :cliente_id, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: 'form-control' %>
        </div>
      </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :pedido_id %>
        <%= form.text_field :pedido_id, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :titulo %>
        <%= form.text_field :titulo, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :conteudo %>
        <%= form.text_area :conteudo, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.submit class: 'btn btn-success' %>
        <%= link_to 'Back', ticks_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
