<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th>Cliente</th>
      <th>Pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticks.each do |tick| %>
      <tr>
        <td><%= tick.titulo %></td>
        <td><%= tick.conteudo %></td>
        <td><%= tick.cliente.nome %></td>
        <td><%= tick.pedido.id %></td>
        <td><%= link_to 'Show', tick %></td>
        <td><%= link_to 'Edit', edit_tick_path(tick) %></td>
        <td><%= link_to 'Destroy', tick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Ticket', new_tick_path, class: 'btn btn-primary' %>
